<h1>Revise your rating from 1-10</h1>

<div class="row">
	<div class ="col s4">
	</div>
<form class ="col s4" action="/profile/edit/<%=rating.id%>?_method=PUT" method="POST">
	<input type="hidden" name="gameId" value="<%=rating.gameId%>">
	<input type="hidden" name="userId" value="<%=rating.userId%>">
	<input type="number" name="rating" value="<%=rating.rating%>">
	<input type="submit" value="Put your revised rating" class = "btn-small">
</form>
</div>

<h2>DANGER DANGER</h2>


<form action="/profile/delete/<%=rating.id%>?_method=DELETE" method="POST">

<input type="submit" value ="DELETE" class = "btn-small">


</form>

