<h1><%=gameData[0].name%></h1>
<h5><%=dateData[0].human%></h5>

<p><%=gameData[0].summary%></p>

<img href="https://placekitten.com">
<img src="https:<%=coverData[0].url%>">

<form method="POST" action="/games/newGame">
	<input type="hidden" value="<%=gameData[0].name%>" name="name">
	<input type="hidden" value="<%=gameData[0].summary%>" name="summary">
	<input type="hidden" value="<%=dateData[0].human%>" name="release">
	<input type="hidden" value="<%=coverData[0].url%>" name="cover">
	<input type="submit" class="btn-small" value="Add to model">
</form>